:root {
    font-family: Inter, Helvetica, system-ui, sans-serif;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

body {
    margin: 0px;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

ul {
    list-style: none;
    margin: 0;
}

.tag {
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;

    text-decoration: none;
    color: black;
    background-color: hsl(0deg, 0%, 90%);
}