<footer class="footer">
    {{/* <div class="footer-container"> */}}
        <div class="container-inner">
            <div class="logo">
                <a href="/">
                    <img src="{{ $.Site.BaseURL }}/logo.svg" alt="Logo">
                    <div style="font-weight: 500; color: black;">Neuralware Inc.</div>
                </a>
            </div>

            <div class="details">
                <a href="#">Careers</a>
                <a href="#">About us</a>
                <a href="mailto:ambujs89@gmail.com">Write to us</a>
            </div>
        </div>
        {{/*
    </div> */}}
</footer>